@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

Pacarcol

File:			template.css
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2016

************************************************************************************************************************ */

/* ---------- General ---------- */

@font-face {
	font-family: "Myriad Pro Regular";
	src: url(fonts/MyriadPro-Regular.otf);
}

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Myriad Pro Regular";
	font-size: 12px;
	color: #5d5d5d;
}

ul {
	list-style: none;
}

li {
	list-style: none;
}

a {
	color: #00caca;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	border: none;
}

/* ---------- Template ---------- */

/* Top */

.top {}

.top_small {}

.moduletable_t1 {
	padding: 15px;
	float: left;
	position: relative;
}

.moduletable_t2 {
	padding: 0 15px;
	float: right;
	position: relative;
}

ul.menu_main {
	margin: 0;
	font-size: 0;
	list-style: none;
	display: block;
	z-index: 100;
}

ul.menu_main li {
	margin-left: 5px;
	font-size: 0;
	white-space: nowrap;
	float: left;
	position: relative;
	z-index: 100;
}

ul.menu_main li:hover {
	position: relative;
}

ul.menu_main li:hover>* {
	display: block;
}

ul.menu_main a {
	padding: 60px 15px 20px 15px;
	font-family: "Myriad Pro Regular";
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	display: block;
	-webkit-transition: padding 1s;
	transition: padding 1s;
	z-index: 100;
}

ul.menu_main li.active a,
ul.menu_main a:hover {
	padding: 60px 15px 40px 15px;
	text-decoration: none;
}

ul.menu_main ul {
	margin: 0;
	padding: 5px;
	top: 100%;
	left: 0;
	background-color: #fff;
	display: none;
	position: absolute;
	z-index: 100;
}

ul.menu_main ul li {
	float: none;
	z-index: 100;
}

ul.menu_main ul a {
	min-width: 160px;
	margin: 5px;
	padding: 5px;
	background-color: #e6e6e6;
	z-index: 100;
}

ul.menu_main ul a:hover {
	background-color: #29abe2;
	color: #fff;
}

ul.menu_main ul ul {
	top: 0;
	left: 100%;
	position: absolute;
	z-index: 100;
}

li.item-101 a {
	background-color: #ffff00;
	color: #f9b40e;
}

li.item-112 a {
	background-color: #f9b40e;
}

li.item-113 a {
	background-color: #f43402;
}

li.item-114 a {
	background-color: #66ca00;
}

li.item-115 a {
	background-color: #00caca;
}

li.item-116 a {
	background-color: #D9167D;
}

/* Banner */

.banner {}

.moduletable_ba1,
.custom_ba1 {
	padding-bottom: 20px;
}

.moduletable_ba2 {}

.moduletable_ba2 div.avatar-copyright {
	display: none !important;
}

/* Component */

.component {
	padding: 20px 0;
}

.component .columns {
	padding: 0;
}

/* Home */

.home {
	background-color: #f0f0f0;
}

.moduletable_h1 {
	margin-bottom: 20px;
}

.moduletable_h1 h3 {
	max-width: 190px;
	margin: auto;
	margin-bottom: 10px;
	padding: 10px 0;
	background-color: #ffff00;
	font-family: "Myriad Pro Regular";
	font-size: 14px;
	color: #00caca;
	text-align: center;
	text-transform: uppercase;
}

/* Bottom */

.bottom {
	background-color: #00caca;
}

.moduletable_bo1 {
	padding: 5px;
	font-family: "Myriad Pro Regular";
	font-size: 16px;
	color: #fff;
}

.moduletable_bo1 a {
	color: #fff;
}

.moduletable_bo1 p.address,
.moduletable_bo1 p.phone {
	margin-top: 8px;
}

.moduletable_bo1 p.email {
	margin-top: 10px;
}

/* Copyright */

.copyright_wrap {
	background-color: #00caca;
}

.copyright {
	font-family: "Myriad Pro Regular";
	font-size: 16px;
	color: #fff;
	text-align: center;
}

.copyright a {
	color: #fff;
}